{
  "minimum_severity": "Info",
  "active": true,
  "verified": true,
  "scan_type": "Trivy Scan",
  "product_type_name": "Golang-api-development",
  "product_name": "Golang-Test",
  "engagement_name": "Q1",
  "auto_create_context": true,
  "deduplication_on_engagement": true,
  "close_old_findings": true,
  "close_old_findings_product_scope": true,
  "create_finding_groups_for_all_findings": true
}